---
import HeaderL from '../components/HeaderL.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ma Landing Page">
    <HeaderL />

    <main>
        <section class="grille py-20">
            <div class="lg:col-span-8 lg:col-start-3 text-center">
                <h1 class="text-titre-lg font-display text-jaune uppercase">
                    Bienvenue
                </h1>
                <p class="text-corp-xl text-bleu-claire mt-6">
                    Cette page utilise ta grille de 12 colonnes et tes variables de collection.
                </p>
            </div>
        </section>
    </main>
</Layout>