---
/* src/layouts/LandingLayout.astro */
import '../styles/global.css';
import HeaderL from '../components/HeaderL.astro';
import FooterL from '../components/FooterL.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="fr" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="L'intelligence artificielle au service de votre style quotidien." />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - Be Drippy</title>
  </head>
  
  <body class="bg-white text-bleu-marine min-h-screen flex flex-col relative overflow-x-hidden">
    <HeaderL />
    
    <main class="flex-grow pt-32 pb-20">
      <slot />
    </main>

    <FooterL />
  </body>
</html>